# Database
DB_HOST=localhost
DB_PORT=15432
DB_NAME=cryptofolio
DB_USERNAME=cryptofolio
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=16379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=15672
RABBITMQ_USERNAME=cryptofolio
RABBITMQ_PASSWORD=

# JWT
JWT_SECRET=